<!--=== Header ===-->
<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="{{ site_url }}">
            <img src="../static/assets/img/kcrw_data_logo.png" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
<!--             <span class="sr-only">Toggle navigation</span>
 -->            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ site_url }}/"> Home</a>
                </li>
                <li>
                    <a href="{{ site_url }}/search"> Song Search</a>
                </li>
<!--                 <li>
                    <a href="{{ site_url }}/kcrw"> KCRW Top 10s</a>
                </li> -->
                <li>
                    <a href="{{ site_url }}/hosts"> DJ Top 10s</a>
                </li>
                <li>
                    <a href="{{ site_url }}/plots"> Example Plots</a>
                </li>
                <!-- Pages -->
<!--                     <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Pages
                    </a>
                </li> -->
                <!-- End Pages -->


            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->