<!-- JS Global Compulsory -->
<script type="text/javascript" src="static/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="static/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="static/assets/plugins/smoothScroll.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="static/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="static/assets/js/app.js"></script>